<div id="fb-root"></div>
<script>
    // initialize the library with the API key
    window.fbAsyncInit = function(){
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true});
        FB.logout(function(response){
            window.location = "{{ redirect_url }}";
        });
    };
    
    // Download the library asynchronously
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
</script>
    
